{% extends 'base.html.twig' %}
{% block body %}
    <p>
        {{ form(form) }}
    </p>

    <hr>

<pre>
Submitted token:  {{ data.submitted_token | default }}
Current token:    {{ form.children._token.vars.value }}
Session token:    {{ data.session_token | default }}
</pre>

{% endblock %}
