<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CSRF Token Test{% endblock %}</title>
        <link rel="icon" href="data:;base64,=">
        <style>
            html { background-color: #ddd; }
            button, input { margin: 5px; }
            label { margin: 5px; display: inline-block; width: 100px; }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
